@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500");
@font-face {
  font-family: 'TaubSans';
  src: url("../assets/fonts/TaubSans/light/TaubSans-Light.eot");
  src: url("../assets/fonts/TaubSans/light/TaubSans-Light.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TaubSans/light/TaubSans-Light.woff2") format("woff2"), url("../assets/fonts/TaubSans/light/TaubSans-Light.woff") format("woff"), url("../assets/fonts/TaubSans/light/TaubSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'TaubSans';
  src: url("../assets/fonts/TaubSans/regular/TaubSans-Regular.eot");
  src: url("../assets/fonts/TaubSans/regular/TaubSans-Regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TaubSans/regular/TaubSans-Regular.woff2") format("woff2"), url("../assets/fonts/TaubSans/regular/TaubSans-Regular.woff") format("woff"), url("../assets/fonts/TaubSans/regular/TaubSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'TaubSans';
  src: url("../assets/fonts/TaubSans/medium/TaubSans-Medium.eot");
  src: url("../assets/fonts/TaubSans/medium/TaubSans-Medium.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TaubSans/medium/TaubSans-Medium.woff2") format("woff2"), url("../assets/fonts/TaubSans/medium/TaubSans-Medium.woff") format("woff"), url("../assets/fonts/TaubSans/medium/TaubSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TaubSans';
  src: url("../assets/fonts/TaubSans/bold/TaubSans-Bold.eot");
  src: url("../assets/fonts/TaubSans/bold/TaubSans-Bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TaubSans/bold/TaubSans-Bold.woff2") format("woff2"), url("../assets/fonts/TaubSans/bold/TaubSans-Bold.woff") format("woff"), url("../assets/fonts/TaubSans/bold/TaubSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'TaubSans';
  src: url("../assets/fonts/TaubSans/heavy/TaubSans-Heavy.eot");
  src: url("../assets/fonts/TaubSans/heavy/TaubSans-Heavy.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TaubSans/heavy/TaubSans-Heavy.woff2") format("woff2"), url("../assets/fonts/TaubSans/heavy/TaubSans-Heavy.woff") format("woff"), url("../assets/fonts/TaubSans/heavy/TaubSans-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'TaubDisplay';
  src: url("../assets/fonts/TaubDisplay/TaubDisplay-C.eot");
  src: url("../assets/fonts/TaubDisplay/TaubDisplay-C.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TaubDisplay/TaubDisplay-C.woff2") format("woff2"), url("../assets/fonts/TaubDisplay/TaubDisplay-C.woff") format("woff"), url("../assets/fonts/TaubDisplay/TaubDisplay-C.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

/* line 5, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/base/_base.scss */
body {
  background-color: #fff;
  font-family: "TaubSans", times, "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  color: #222222;
  font-size: 12pt;
  line-height: 1.25;
}

/* line 15, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/base/_base.scss */
body #site-preloader {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 2000;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: 1;
  transition: all 0.5s ease;
}

/* line 39, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/base/_base.scss */
body #site-preloader img {
  -webkit-animation: imageOpacity 3s ease-in infinite;
  animation: imageOpacity 3s ease-in infinite;
}

/* line 46, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/base/_base.scss */
h1,
h2,
h3,
h4,
h5 {
  color: #121C4E;
  font-weight: bold;
  line-height: 1.3;
  text-transform: none;
}

/* line 58, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/base/_base.scss */
p {
  color: #222222;
  line-height: 1.25;
  word-wrap: break-word;
  font-weight: 300;
}

/* line 66, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/base/_base.scss */
a {
  color: #F2635D;
  line-height: 1.3;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* line 18, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/abstracts/_mixins.scss */
a:hover, a:active, a:focus {
  color: #F2635D;
  text-decoration: underline;
}

/* line 80, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/base/_base.scss */
::-moz-selection {
  background: #121C4E;
  color: #fff;
}

/* line 85, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/base/_base.scss */
::selection {
  background: #121C4E;
  color: #fff;
}

/* line 6, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/base/_helpers.scss */
.clearfix::after {
  clear: both;
  content: '';
  display: table;
}

/* line 13, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/base/_helpers.scss */
.text-white {
  color: #fff;
}

/* line 17, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/base/_helpers.scss */
.full-wd {
  width: 100%;
}

/* line 21, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/base/_helpers.scss */
.no-margin {
  margin: 0px;
}

/* line 25, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/base/_helpers.scss */
.no-padding {
  padding-left: 0px;
  padding-right: 0px;
}

/* line 31, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/base/_helpers.scss */
.visible-full-hd {
  display: none !important;
}

/* line 36, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/base/_helpers.scss */
.no-break {
  white-space: nowrap;
}

/* line 41, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/base/_helpers.scss */
img {
  margin: 0 auto;
}

/* line 46, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/base/_helpers.scss */
video {
  width: 100%;
  display: block;
}

/* line 51, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/base/_helpers.scss */
.aligned-text {
  text-align: center;
}

/* line 55, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/base/_helpers.scss */
ul.aligned-list {
  padding: 0px;
  list-style: none;
  text-align: center;
}

@media (min-width: 768px) {
  /* line 70, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/base/_helpers.scss */
  .aligned-text {
    text-align: left;
  }
  /* line 74, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/base/_helpers.scss */
  ul.aligned-list {
    padding-left: 40px;
    list-style: disc;
    text-align: left;
  }
}

@media (min-width: 1550px) {
  /* line 83, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/base/_helpers.scss */
  .d-hd-block {
    display: block !important;
  }
}

/* line 1, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/layout/_header.scss */
header {
  background-color: #CFCFCF;
  background-image: url("../img/city-bg.png");
  background-position: 30% 67%;
  position: relative;
}

/* line 7, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/layout/_header.scss */
header .navbar {
  padding: 0px;
}

/* line 9, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/layout/_header.scss */
header .navbar .navbar-toggler {
  background-color: #1F347F;
  padding: 15px 10px;
  border-radius: 0px;
  border: none;
  height: 60px;
  width: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  z-index: 10;
}

/* line 33, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/layout/_header.scss */
header .navbar .navbar-toggler .icon-bar {
  display: block;
  background: #fff;
  height: 4px;
  width: 40px;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

/* line 41, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/layout/_header.scss */
header .navbar .navbar-toggler .icon-bar.middle {
  height: 0px;
  opacity: 0;
}

/* line 45, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/layout/_header.scss */
header .navbar .navbar-toggler .icon-bar.top {
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
  margin-bottom: -2px;
}

/* line 50, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/layout/_header.scss */
header .navbar .navbar-toggler .icon-bar.bottom {
  -webkit-transform: rotate(-225deg);
  transform: rotate(-225deg);
  margin-top: -2px;
}

/* line 58, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/layout/_header.scss */
header .navbar .navbar-toggler.collapsed {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/* line 63, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/layout/_header.scss */
header .navbar .navbar-toggler.collapsed .icon-bar {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transform-origin: center;
  transform-origin: center;
  width: 40px;
}

/* line 69, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/layout/_header.scss */
header .navbar .navbar-toggler.collapsed .icon-bar.top {
  width: 20px;
  -webkit-animation: barTop infinite 5s;
  animation: barTop infinite 5s;
}

/* line 74, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/layout/_header.scss */
header .navbar .navbar-toggler.collapsed .icon-bar.middle {
  width: 30px;
  height: 4px;
  opacity: 1;
  -webkit-animation: barMiddle infinite 5s;
  animation: barMiddle infinite 5s;
}

/* line 81, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/layout/_header.scss */
header .navbar .navbar-toggler.collapsed .icon-bar.bottom {
  -webkit-animation: barBottom infinite 5s;
  animation: barBottom infinite 5s;
}

/* line 88, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/layout/_header.scss */
header .navbar .navbar-toggler:focus {
  outline: none;
}

/* line 92, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/layout/_header.scss */
header .navbar .navbar-collapse {
  position: fixed;
  z-index: 5;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: #1F347F;
  height: 100% !important;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: top left;
  transform-origin: top left;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

/* line 107, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/layout/_header.scss */
header .navbar .navbar-collapse ul.navbar-nav {
  padding: 30px 0px 30px 0px;
  opacity: 0;
  -webkit-transition: all ease 0.5s 0.5s;
  transition: all ease 0.5s 0.5s;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  transition: all ease 0.5s 0.5s;
}

/* line 130, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/layout/_header.scss */
header .navbar .navbar-collapse ul.navbar-nav li .nav-link {
  font-size: 30pt;
  font-weight: 500;
  padding-left: 0px;
  padding-right: 0px;
  text-transform: capitalize;
  color: #fff;
  letter-spacing: 1.5pt;
  position: relative;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

/* line 142, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/layout/_header.scss */
header .navbar .navbar-collapse ul.navbar-nav li .nav-link::after {
  content: '';
  height: 4px;
  width: 0px;
  background: #fff;
  position: absolute;
  bottom: -3px;
  top: auto;
  left: 50%;
  right: auto;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

/* line 18, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/abstracts/_mixins.scss */
header .navbar .navbar-collapse ul.navbar-nav li .nav-link:hover, header .navbar .navbar-collapse ul.navbar-nav li .nav-link:active, header .navbar .navbar-collapse ul.navbar-nav li .nav-link:focus {
  color: #fff;
}

/* line 159, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/layout/_header.scss */
header .navbar .navbar-collapse ul.navbar-nav li .nav-link:hover:after, header .navbar .navbar-collapse ul.navbar-nav li .nav-link:active:after, header .navbar .navbar-collapse ul.navbar-nav li .nav-link:focus:after {
  width: 100%;
  left: 0;
}

/* line 167, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/layout/_header.scss */
header .navbar .navbar-collapse ul.navbar-nav li.active .nav-link {
  color: #fff;
}

/* line 170, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/layout/_header.scss */
header .navbar .navbar-collapse ul.navbar-nav li.active .nav-link:after {
  width: 100%;
  left: 0;
}

/* line 179, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/layout/_header.scss */
header .navbar .navbar-collapse.show {
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* line 183, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/layout/_header.scss */
header .navbar .navbar-collapse.show ul {
  opacity: 1;
}

/* line 191, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/layout/_header.scss */
header .info-toggle {
  background: #1F347F;
  border: none;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: auto;
  left: auto;
  height: 60px;
  width: 60px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/* line 209, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/layout/_header.scss */
header .info-toggle:focus {
  outline: none;
}

/* line 212, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/layout/_header.scss */
header .info-toggle .fas {
  font-size: 30px;
  color: #fff;
  line-height: 1;
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

/* line 225, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/layout/_header.scss */
header .info-toggle.collapsed .fas {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

/* line 232, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/layout/_header.scss */
header .text-container {
  padding: 30px 15px 200px 15px;
}

/* line 235, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/layout/_header.scss */
header .text-container .info-title {
  font-size: 24pt;
  font-weight: 300;
  margin-bottom: 20px;
  color: #121C4E;
}

/* line 242, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/layout/_header.scss */
header .text-container .info-text {
  max-width: 610px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  /* line 251, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/layout/_header.scss */
  header {
    height: 100vh;
    width: 25vw;
    position: fixed;
    z-index: 1040;
    left: 0px;
    right: auto;
    top: 0px;
    bottom: 0px;
    background-size: cover;
    background-position: 5% 100%;
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
    -webkit-animation: bgMoving infinite 30s;
    animation: bgMoving infinite 30s;
  }
  /* line 270, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/layout/_header.scss */
  #additionalInfo {
    display: block;
    padding-top: 35px;
    padding-bottom: 0px;
  }
}

@media (min-width: 992px) {
  /* line 278, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/layout/_header.scss */
  header {
    width: 217pt;
  }
  /* line 282, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/layout/_header.scss */
  #additionalInfo {
    padding: 30px 25px 0pt 25px;
  }
}

/* line 3, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
body {
  background-color: #F2F2F2;
  background-image: url("../img/main-bg.svg");
  background-size: cover;
  background-repeat: repeat;
}

/* line 13, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
.main-content {
  min-height: 100vh;
  padding-top: 30px;
  padding-bottom: 40pt;
  max-width: 100%;
  overflow: hidden;
  text-align: center;
  position: relative;
}

/* line 23, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
.main-content .tagline-container .tagline {
  margin-top: 0px;
  text-align: center;
  font-family: "TaubDisplay", times, sans-serif;
  font-size: 40pt;
  margin-bottom: 100px;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

/* line 31, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
.main-content .tagline-container .tagline span {
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

/* line 38, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
.main-content .center-content {
  position: relative;
}

/* line 42, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
.main-content .container-fluid {
  position: relative;
}

/* line 47, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
.phone-container {
  position: relative;
  display: inline-block;
}

/* line 51, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
.phone-container .circles {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

/* line 59, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
.phone-container .circles:before {
  content: '';
  display: block;
  height: 300pt;
  width: 300pt;
  border-radius: 100%;
  position: absolute;
  top: calc(50% - 150pt);
  bottom: auto;
  left: calc(50% - 150pt);
  right: auto;
  background: #1F347F;
  opacity: 0.5;
  z-index: 1;
}

/* line 75, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
.phone-container .circles:after {
  content: '';
  display: block;
  height: 270pt;
  width: 270pt;
  border-radius: 100%;
  position: absolute;
  top: calc(50% - 135pt);
  bottom: auto;
  left: calc(50% - 135pt);
  right: auto;
  background: #1F347F;
  z-index: 2;
}

/* line 90, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
.phone-container .phone {
  width: 166pt;
  height: 365pt;
  border-radius: 20pt;
  background-color: transparent;
  background-size: cover;
  -webkit-box-shadow: 15px 15px 35px rgba(8, 49, 68, 0.3);
  box-shadow: 15px 15px 35px rgba(8, 49, 68, 0.3);
  position: relative;
  margin-left: auto;
  margin-right: auto;
  z-index: 3;
  padding: 20pt 11pt 13pt 11pt;
}

/* line 105, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
.phone-container .phone ::-moz-selection {
  background: transparent;
}

/* line 109, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
.phone-container .phone ::selection {
  background: transparent;
}

/* line 114, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
.phone-container .phone .phone-frame {
  width: 170pt;
  position: absolute;
  top: 0px;
  left: -2pt;
  bottom: auto;
  right: auto;
  z-index: 1;
}

/* line 124, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
.phone-container .phone .phone-content {
  z-index: 2;
  position: relative;
}

/* line 129, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
.phone-container .phone .phone-content .counter:after {
  content: '%';
  display: inline;
}

/* line 142, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
.tabs-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

/* line 151, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
.tabs-container #animated-circle, .tabs-container #animated-dots {
  display: none;
}

/* line 157, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
.tabs-container .tabs .tab-toggler {
  height: 50pt;
  width: 50pt;
  background: #fff;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  position: absolute;
}

/* line 178, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
.tabs-container .tabs .tab-toggler#btn-executive {
  bottom: -60pt;
  left: calc((100vw - 320px)/2.5);
  top: auto;
  right: auto;
}

/* line 185, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
.tabs-container .tabs .tab-toggler#btn-data {
  top: -60pt;
  left: calc((100vw - 320px)/2.5);
  bottom: auto;
  right: auto;
}

/* line 191, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
.tabs-container .tabs .tab-toggler#btn-data .toggler-title {
  top: auto;
  right: calc(100% + 20pt);
}

/* line 197, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
.tabs-container .tabs .tab-toggler#btn-reporting {
  top: -60pt;
  right: calc((100vw - 320px)/2.5);
  bottom: auto;
  left: auto;
}

/* line 203, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
.tabs-container .tabs .tab-toggler#btn-reporting .toggler-title {
  top: auto;
  bottom: calc(100% + 20pt);
}

/* line 209, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
.tabs-container .tabs .tab-toggler#btn-benchmarking {
  bottom: -60pt;
  right: calc((100vw - 320px)/2.5);
  top: auto;
  left: auto;
}

/* line 215, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
.tabs-container .tabs .tab-toggler#btn-benchmarking .toggler-title {
  top: auto;
  left: calc(100% + 20pt);
}

/* line 221, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
.tabs-container .tabs .tab-toggler img {
  height: 20pt;
  position: relative;
  z-index: 4;
}

/* line 228, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
.tabs-container .tabs .tab-toggler .toggler-title {
  position: absolute;
  top: calc(100% + 20px);
  bottom: auto;
  left: auto;
  right: auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 24pt;
  font-weight: 900;
  color: #121C4E;
  text-align: center;
  -webkit-transform-origin: left center;
  transform-origin: left center;
}

/* line 247, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
.tabs-container .tabs .tab-toggler::before {
  content: '';
  display: block;
  background: #121C4E;
  height: 42pt;
  width: 42pt;
  border-radius: 100%;
  position: absolute;
  top: calc(50% - 21pt);
  bottom: auto;
  left: calc(50% - 21pt);
  right: auto;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  z-index: 3;
}

/* line 266, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
.tabs-container .tabs .tab-toggler::after {
  content: '';
  display: block;
  background: transparent;
  height: 51.5pt;
  width: 51.5pt;
  border: 1.5pt dashed #121C4E;
  border-radius: 100%;
  position: absolute;
  top: calc(50% - 25.75pt);
  bottom: auto;
  left: calc(50% - 25.75pt);
  right: auto;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  z-index: 2;
}

/* line 288, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
.tabs-container .tabs .tab-toggler .explosion {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 100%;
  width: 100%;
  border-radius: 100%;
  background: transparent;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
}

/* line 320, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
.tabs-container .tabs .tab-toggler .explosion .explosion-dot {
  position: absolute;
  background: #121C4E;
  height: 1pt;
  width: 1pt;
  border-radius: 100%;
}

/* line 330, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
.tabs-container .tabs .tab-toggler .explosion .explosion-dot:nth-child(1) {
  -webkit-transform: rotate(90deg) translate(30pt);
  transform: rotate(90deg) translate(30pt);
}

/* line 330, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
.tabs-container .tabs .tab-toggler .explosion .explosion-dot:nth-child(2) {
  -webkit-transform: rotate(108deg) translate(30pt);
  transform: rotate(108deg) translate(30pt);
}

/* line 330, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
.tabs-container .tabs .tab-toggler .explosion .explosion-dot:nth-child(3) {
  -webkit-transform: rotate(126deg) translate(30pt);
  transform: rotate(126deg) translate(30pt);
}

/* line 330, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
.tabs-container .tabs .tab-toggler .explosion .explosion-dot:nth-child(4) {
  -webkit-transform: rotate(144deg) translate(30pt);
  transform: rotate(144deg) translate(30pt);
}

/* line 330, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
.tabs-container .tabs .tab-toggler .explosion .explosion-dot:nth-child(5) {
  -webkit-transform: rotate(162deg) translate(30pt);
  transform: rotate(162deg) translate(30pt);
}

/* line 330, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
.tabs-container .tabs .tab-toggler .explosion .explosion-dot:nth-child(6) {
  -webkit-transform: rotate(180deg) translate(30pt);
  transform: rotate(180deg) translate(30pt);
}

/* line 330, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
.tabs-container .tabs .tab-toggler .explosion .explosion-dot:nth-child(7) {
  -webkit-transform: rotate(198deg) translate(30pt);
  transform: rotate(198deg) translate(30pt);
}

/* line 330, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
.tabs-container .tabs .tab-toggler .explosion .explosion-dot:nth-child(8) {
  -webkit-transform: rotate(216deg) translate(30pt);
  transform: rotate(216deg) translate(30pt);
}

/* line 330, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
.tabs-container .tabs .tab-toggler .explosion .explosion-dot:nth-child(9) {
  -webkit-transform: rotate(234deg) translate(30pt);
  transform: rotate(234deg) translate(30pt);
}

/* line 330, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
.tabs-container .tabs .tab-toggler .explosion .explosion-dot:nth-child(10) {
  -webkit-transform: rotate(252deg) translate(30pt);
  transform: rotate(252deg) translate(30pt);
}

/* line 330, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
.tabs-container .tabs .tab-toggler .explosion .explosion-dot:nth-child(11) {
  -webkit-transform: rotate(270deg) translate(30pt);
  transform: rotate(270deg) translate(30pt);
}

/* line 330, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
.tabs-container .tabs .tab-toggler .explosion .explosion-dot:nth-child(12) {
  -webkit-transform: rotate(288deg) translate(30pt);
  transform: rotate(288deg) translate(30pt);
}

/* line 330, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
.tabs-container .tabs .tab-toggler .explosion .explosion-dot:nth-child(13) {
  -webkit-transform: rotate(306deg) translate(30pt);
  transform: rotate(306deg) translate(30pt);
}

/* line 330, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
.tabs-container .tabs .tab-toggler .explosion .explosion-dot:nth-child(14) {
  -webkit-transform: rotate(324deg) translate(30pt);
  transform: rotate(324deg) translate(30pt);
}

/* line 330, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
.tabs-container .tabs .tab-toggler .explosion .explosion-dot:nth-child(15) {
  -webkit-transform: rotate(342deg) translate(30pt);
  transform: rotate(342deg) translate(30pt);
}

/* line 330, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
.tabs-container .tabs .tab-toggler .explosion .explosion-dot:nth-child(16) {
  -webkit-transform: rotate(360deg) translate(30pt);
  transform: rotate(360deg) translate(30pt);
}

/* line 330, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
.tabs-container .tabs .tab-toggler .explosion .explosion-dot:nth-child(17) {
  -webkit-transform: rotate(378deg) translate(30pt);
  transform: rotate(378deg) translate(30pt);
}

/* line 330, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
.tabs-container .tabs .tab-toggler .explosion .explosion-dot:nth-child(18) {
  -webkit-transform: rotate(396deg) translate(30pt);
  transform: rotate(396deg) translate(30pt);
}

/* line 330, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
.tabs-container .tabs .tab-toggler .explosion .explosion-dot:nth-child(19) {
  -webkit-transform: rotate(414deg) translate(30pt);
  transform: rotate(414deg) translate(30pt);
}

/* line 330, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
.tabs-container .tabs .tab-toggler .explosion .explosion-dot:nth-child(20) {
  -webkit-transform: rotate(432deg) translate(30pt);
  transform: rotate(432deg) translate(30pt);
}

/* line 340, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
.tabs-container .tabs .tab-toggler .explosion .explosion-circle {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: transparent;
  border: 0px solid #121C4E;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  border-radius: 100%;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transform-origin: center center;
  transform-origin: center center;
}

/* line 365, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
.tabs-container .tabs .tab-toggler:hover::after, .tabs-container .tabs .tab-toggler:active::after, .tabs-container .tabs .tab-toggler:focus::after {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

/* line 374, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
.tabs-container .tabs .tab-toggler.active img, .tabs-container .tabs .tab-toggler.active::before, .tabs-container .tabs .tab-toggler.active::after {
  -webkit-animation: explotion 1.5s 1;
  animation: explotion 1.5s 1;
}

/* line 379, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
.tabs-container .tabs .tab-toggler.active .toggler-title {
  -webkit-transform: rotateY(90deg);
  transform: rotateY(90deg);
  opacity: 0;
  -webkit-transition: all ease 1s 1s;
  transition: all ease 1s 1s;
}

/* line 387, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
.tabs-container .tabs .tab-toggler.active .explosion {
  -webkit-animation: explotionDots 0.4s 1.3s 1;
  animation: explotionDots 0.4s 1.3s 1;
}

/* line 391, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
.tabs-container .tabs .tab-toggler.active .explosion .explotionDot {
  -webkit-animation: explotionDot 0.4s 1.3s 1;
  animation: explotionDot 0.4s 1.3s 1;
}

/* line 396, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
.tabs-container .tabs .tab-toggler.active .explosion .explosion-circle {
  -webkit-animation: explotionCircle 0.4s 1.3s 1;
  animation: explotionCircle 0.4s 1.3s 1;
}

/* line 407, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
#carousel-container {
  padding-top: 100px;
}

/* line 411, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
#carousel-container .text-carousel-item .text-title {
  font-size: 24pt;
  font-weight: 900;
  margin-bottom: 10pt;
  -webkit-transition: all ease 0.5s 0s;
  transition: all ease 0.5s 0s;
  -webkit-transform-origin: left center;
  transform-origin: left center;
  -webkit-transform: rotateY(90deg);
  transform: rotateY(90deg);
  opacity: 0;
  color: #121C4E;
}

/* line 425, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
#carousel-container .text-carousel-item .text-content {
  -webkit-transition: all ease 0.5s 0.5s;
  transition: all ease 0.5s 0.5s;
  -webkit-transform-origin: top center;
  transform-origin: top center;
  -webkit-transform: rotateX(90deg);
  transform: rotateX(90deg);
  opacity: 0;
}

/* line 436, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
#carousel-container .text-carousel-item.active .text-title {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  opacity: 1;
  -webkit-transition: all ease 1s 0s;
  transition: all ease 1s 0s;
}

/* line 444, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
#carousel-container .text-carousel-item.active .text-content {
  -webkit-transform-origin: top center;
  transform-origin: top center;
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
  opacity: 1;
  -webkit-transition: all ease 1s 0.5s;
  transition: all ease 1s 0.5s;
}

@media (max-width: 767.9px) {
  /* line 458, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
  #animated-circle, #animated-dots {
    display: none !important;
  }
}

@media (min-width: 768px) {
  /* line 464, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
  .main-content {
    padding-left: 25vw;
  }
  /* line 468, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
  .phone-container {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
  }
  /* line 473, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
  .tabs-container {
    width: 500px;
    height: 500px;
    top: 0px;
    bottom: 0px;
    left: calc(50% - 250px);
    right: auto;
    padding: 15pt;
  }
  /* line 485, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
  .tabs-container #animated-circle {
    display: none;
  }
  /* line 490, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
  .tabs-container #animated-dots {
    position: absolute;
    display: block;
    position: absolute;
    top: 0px;
    bottom: auto;
    left: 0px;
    right: auto;
  }
  /* line 504, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
  .tabs-container .tabs .tab-toggler {
    height: 60pt;
    width: 60pt;
  }
  /* line 508, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
  .tabs-container .tabs .tab-toggler#btn-executive {
    bottom: -13pt;
    left: calc(50% - 30pt);
  }
  /* line 513, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
  .tabs-container .tabs .tab-toggler#btn-data {
    top: calc(50% - 30pt);
    left: -13pt;
    bottom: auto;
    right: auto;
  }
  /* line 520, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
  .tabs-container .tabs .tab-toggler#btn-reporting {
    top: -13pt;
    left: calc(50% - 30pt);
    bottom: auto;
    right: auto;
  }
  /* line 527, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
  .tabs-container .tabs .tab-toggler#btn-benchmarking {
    top: calc(50% - 30pt);
    right: -13pt;
    bottom: auto;
    left: auto;
  }
  /* line 534, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
  .tabs-container .tabs .tab-toggler img {
    height: 24pt;
    position: relative;
  }
  /* line 539, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
  .tabs-container .tabs .tab-toggler::before {
    height: 50pt;
    width: 50pt;
    top: calc(50% - 25pt);
    left: calc(50% - 25pt);
  }
  /* line 547, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
  .tabs-container .tabs .tab-toggler::after {
    height: 61.5pt;
    width: 61.5pt;
    top: calc(50% - 30.75pt);
    left: calc(50% - 30.75pt);
  }
  /* line 557, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
  #carousel-container {
    padding: 0px 15px;
    position: absolute;
    right: 0;
    left: auto;
    top: 90%;
    bottom: auto;
    width: 40%;
  }
  /* line 567, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
  #carousel-container .text-carousel-item .text-title {
    font-size: 12pt;
  }
  /* line 570, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
  #carousel-container .text-carousel-item .text-content {
    font-size: 11pt;
  }
}

@media (min-width: 992px) {
  /* line 578, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
  .main-content {
    padding-left: 217pt;
  }
  /* line 582, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
  .main-content .tagline-container .tagline {
    font-size: 50pt;
    line-height: 1;
  }
}

@media (min-width: 1200px) {
  /* line 590, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
  .main-content {
    padding-bottom: 150pt;
  }
  /* line 593, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
  .main-content .tagline-container .tagline {
    margin-bottom: 130pt;
  }
  /* line 598, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
  .phone-container {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  /* line 603, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
  .tabs-container {
    width: 520pt;
    height: 520pt;
    left: calc(50% - 260pt);
    top: calc(50% - 260pt);
  }
  /* line 615, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
  .tabs-container .tabs .tab-toggler {
    height: 60pt;
    width: 60pt;
  }
  /* line 619, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
  .tabs-container .tabs .tab-toggler#btn-executive {
    bottom: -13pt;
    left: calc(50% - 30pt);
  }
  /* line 624, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
  .tabs-container .tabs .tab-toggler#btn-data {
    top: calc(50% - 30pt);
    left: -13pt;
    bottom: auto;
    right: auto;
  }
  /* line 631, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
  .tabs-container .tabs .tab-toggler#btn-reporting {
    top: -13pt;
    left: calc(50% - 30pt);
    bottom: auto;
    right: auto;
  }
  /* line 638, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
  .tabs-container .tabs .tab-toggler#btn-benchmarking {
    top: calc(50% - 30pt);
    right: -13pt;
    bottom: auto;
    left: auto;
  }
  /* line 645, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
  .tabs-container .tabs .tab-toggler img {
    height: 24pt;
    position: relative;
  }
  /* line 650, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
  .tabs-container .tabs .tab-toggler::before {
    height: 50pt;
    width: 50pt;
    top: calc(50% - 25pt);
    left: calc(50% - 25pt);
  }
  /* line 658, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
  .tabs-container .tabs .tab-toggler::after {
    height: 61.5pt;
    width: 61.5pt;
    top: calc(50% - 30.75pt);
    left: calc(50% - 30.75pt);
  }
  /* line 668, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
  #carousel-container {
    top: 103%;
    width: 44%;
    max-width: 485px;
  }
  /* line 674, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
  #carousel-container .text-carousel-item .text-title {
    font-size: 19pt;
  }
  /* line 677, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
  #carousel-container .text-carousel-item .text-content {
    font-size: 12pt;
  }
}

@media (min-width: 1550px) {
  /* line 685, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
  .main-content {
    padding-bottom: 160pt;
  }
  /* line 688, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
  .main-content .tagline-container .tagline {
    margin-bottom: 170pt;
  }
  /* line 694, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
  #carousel-container {
    top: 95%;
    left: calc(50% + 150px);
  }
  /* line 699, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
  #carousel-container .text-carousel-item .text-title {
    font-size: 24pt;
  }
}

@keyframes barTop {
  0% {
    width: 20px;
  }
  25% {
    width: 30px;
  }
  50% {
    width: 40px;
  }
  75% {
    width: 30px;
  }
  100% {
    width: 20px;
  }
}

@keyframes barMiddle {
  0% {
    width: 30px;
  }
  25% {
    width: 40px;
  }
  50% {
    width: 20px;
  }
  75% {
    width: 40px;
  }
  100% {
    width: 30px;
  }
}

@keyframes barBottom {
  0% {
    width: 40px;
  }
  25% {
    width: 20px;
  }
  50% {
    width: 30px;
  }
  75% {
    width: 20px;
  }
  100% {
    width: 40px;
  }
}

@keyframes bgMoving {
  0% {
    background-position: 5% 100%;
  }
  7% {
    background-position: 54% 100%;
  }
  14% {
    background-position: 52% 100%;
  }
  21% {
    background-position: 55% 100%;
  }
  28% {
    background-position: 56% 100%;
  }
  35% {
    background-position: 80% 100%;
  }
  42% {
    background-position: 100% 100%;
  }
  49% {
    background-position: 80% 100%;
  }
  56% {
    background-position: 56% 100%;
  }
  63% {
    background-position: 55% 100%;
  }
  70% {
    background-position: 52% 100%;
  }
  77% {
    background-position: 54% 100%;
  }
  84% {
    background-position: 5% 100%;
  }
  91% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 5% 100%;
  }
}

@keyframes explotion {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.1);
  }
  90% {
    transform: scale(1);
  }
}

@keyframes explotionDots {
  0% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(2);
  }
}

@keyframes explotionDot {
  0% {
    height: 0pt;
    width: 0pt;
  }
  50% {
    height: 0.2pt;
    width: 0.2pt;
  }
  100% {
    height: 0pt;
    width: 0pt;
  }
}

@keyframes explotionCircle {
  0% {
    border-width: 1px;
  }
  50% {
    border-width: 5px;
  }
  100% {
    border-width: 0px;
  }
}

/*CLASES*/
/* line 168, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/animations/_animations.scss */
.animated {
  transition: all ease 1s;
}

/* line 170, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/animations/_animations.scss */
.animated.opacity {
  opacity: 0;
}

/* line 172, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/animations/_animations.scss */
.animated.opacity.in {
  opacity: 1;
}

/* line 177, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/animations/_animations.scss */
.animated.opacity-up {
  opacity: 0;
  transform: translateY(20px);
}

/* line 181, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/animations/_animations.scss */
.animated.opacity-up.in {
  opacity: 1;
  transform: translateY(0px);
}

/* line 187, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/animations/_animations.scss */
.animated.opacity-arrow {
  opacity: 0;
  transform: translateY(-20px) rotate(90deg);
}

/* line 191, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/animations/_animations.scss */
.animated.opacity-arrow.in {
  opacity: 1;
  transform: translateY(0px) rotate(90deg);
}

/* line 197, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/animations/_animations.scss */
.animated.opacity-down {
  opacity: 0;
  transform: translateY(-20px);
}

/* line 201, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/animations/_animations.scss */
.animated.opacity-down.in {
  opacity: 1;
  transform: translateY(0px);
}

/* line 207, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/animations/_animations.scss */
.animated.opacity-right {
  opacity: 0;
  transform: translateX(-20px);
}

/* line 211, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/animations/_animations.scss */
.animated.opacity-right.in {
  opacity: 1;
  transform: translateX(0px);
}

/* line 217, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/animations/_animations.scss */
.animated.opacity-left {
  opacity: 0;
  transform: translateX(20px);
}

/* line 221, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/animations/_animations.scss */
.animated.opacity-left.in {
  opacity: 1;
  transform: translateX(0px);
}

/* line 227, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/animations/_animations.scss */
.animated.scale {
  transform: scale(0.7);
  opacity: 0;
}

/* line 230, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/animations/_animations.scss */
.animated.scale.in {
  transform: scale(1);
  opacity: 1;
}

/* line 235, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/animations/_animations.scss */
.animated.scale.uni-view {
  transform-origin: center;
  transition: all ease 0.5s;
}

/* line 241, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/animations/_animations.scss */
.animated.dots {
  transform-origin: center center;
  opacity: 0;
  transition: all ease 1s;
}

/* line 247, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/animations/_animations.scss */
.animated.dots.in {
  opacity: 1;
}

/* line 254, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/animations/_animations.scss */
.animated.bar {
  width: 0 !important;
  transition: all ease 2s;
}

/* line 258, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/animations/_animations.scss */
.animated.bar.in {
  width: 148.47px !important;
}

/*# sourceMappingURL=../css/main.map */