@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500");
@font-face {
  font-family: 'TaubSans';
  src: url("../assets/fonts/TaubSans/light/TaubSans-Light.eot");
  src: url("../assets/fonts/TaubSans/light/TaubSans-Light.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TaubSans/light/TaubSans-Light.woff2") format("woff2"), url("../assets/fonts/TaubSans/light/TaubSans-Light.woff") format("woff"), url("../assets/fonts/TaubSans/light/TaubSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'TaubSans';
  src: url("../assets/fonts/TaubSans/regular/TaubSans-Regular.eot");
  src: url("../assets/fonts/TaubSans/regular/TaubSans-Regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TaubSans/regular/TaubSans-Regular.woff2") format("woff2"), url("../assets/fonts/TaubSans/regular/TaubSans-Regular.woff") format("woff"), url("../assets/fonts/TaubSans/regular/TaubSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'TaubSans';
  src: url("../assets/fonts/TaubSans/medium/TaubSans-Medium.eot");
  src: url("../assets/fonts/TaubSans/medium/TaubSans-Medium.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TaubSans/medium/TaubSans-Medium.woff2") format("woff2"), url("../assets/fonts/TaubSans/medium/TaubSans-Medium.woff") format("woff"), url("../assets/fonts/TaubSans/medium/TaubSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TaubSans';
  src: url("../assets/fonts/TaubSans/bold/TaubSans-Bold.eot");
  src: url("../assets/fonts/TaubSans/bold/TaubSans-Bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TaubSans/bold/TaubSans-Bold.woff2") format("woff2"), url("../assets/fonts/TaubSans/bold/TaubSans-Bold.woff") format("woff"), url("../assets/fonts/TaubSans/bold/TaubSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'TaubSans';
  src: url("../assets/fonts/TaubSans/heavy/TaubSans-Heavy.eot");
  src: url("../assets/fonts/TaubSans/heavy/TaubSans-Heavy.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TaubSans/heavy/TaubSans-Heavy.woff2") format("woff2"), url("../assets/fonts/TaubSans/heavy/TaubSans-Heavy.woff") format("woff"), url("../assets/fonts/TaubSans/heavy/TaubSans-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'TaubDisplay';
  src: url("../assets/fonts/TaubDisplay/TaubDisplay-C.eot");
  src: url("../assets/fonts/TaubDisplay/TaubDisplay-C.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TaubDisplay/TaubDisplay-C.woff2") format("woff2"), url("../assets/fonts/TaubDisplay/TaubDisplay-C.woff") format("woff"), url("../assets/fonts/TaubDisplay/TaubDisplay-C.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

/* line 5, D:/ASUS/DEVotion/OneDrive_2019-07-20/Jason Lopez Dominquez/datacloud_new/scss/base/_base.scss */
body {
  background-color: #fff;
  font-family: "TaubSans", times, "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  color: #222222;
  font-size: 12pt;
  line-height: 1.25;
}

/* line 16, D:/ASUS/DEVotion/OneDrive_2019-07-20/Jason Lopez Dominquez/datacloud_new/scss/base/_base.scss */
h1,
h2,
h3,
h4,
h5 {
  color: #121C4E;
  font-weight: bold;
  line-height: 1.3;
  text-transform: none;
}

/* line 28, D:/ASUS/DEVotion/OneDrive_2019-07-20/Jason Lopez Dominquez/datacloud_new/scss/base/_base.scss */
h1 {
  text-transform: uppercase;
}

/* line 33, D:/ASUS/DEVotion/OneDrive_2019-07-20/Jason Lopez Dominquez/datacloud_new/scss/base/_base.scss */
p {
  color: #222222;
  line-height: 1.25;
  word-wrap: break-word;
  font-weight: 300;
}

/* line 41, D:/ASUS/DEVotion/OneDrive_2019-07-20/Jason Lopez Dominquez/datacloud_new/scss/base/_base.scss */
a {
  color: #F2635D;
  line-height: 1.3;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* line 18, D:/ASUS/DEVotion/OneDrive_2019-07-20/Jason Lopez Dominquez/datacloud_new/scss/abstracts/_mixins.scss */
a:hover, a:active, a:focus {
  color: #F2635D;
  text-decoration: underline;
}

/* line 55, D:/ASUS/DEVotion/OneDrive_2019-07-20/Jason Lopez Dominquez/datacloud_new/scss/base/_base.scss */
::-moz-selection {
  background: #121C4E;
  color: #fff;
}

/* line 60, D:/ASUS/DEVotion/OneDrive_2019-07-20/Jason Lopez Dominquez/datacloud_new/scss/base/_base.scss */
::selection {
  background: #121C4E;
  color: #fff;
}

/* line 6, D:/ASUS/DEVotion/OneDrive_2019-07-20/Jason Lopez Dominquez/datacloud_new/scss/base/_helpers.scss */
.clearfix::after {
  clear: both;
  content: '';
  display: table;
}

/* line 13, D:/ASUS/DEVotion/OneDrive_2019-07-20/Jason Lopez Dominquez/datacloud_new/scss/base/_helpers.scss */
.text-white {
  color: #fff;
}

/* line 17, D:/ASUS/DEVotion/OneDrive_2019-07-20/Jason Lopez Dominquez/datacloud_new/scss/base/_helpers.scss */
.full-wd {
  width: 100%;
}

/* line 21, D:/ASUS/DEVotion/OneDrive_2019-07-20/Jason Lopez Dominquez/datacloud_new/scss/base/_helpers.scss */
.no-margin {
  margin: 0px;
}

/* line 25, D:/ASUS/DEVotion/OneDrive_2019-07-20/Jason Lopez Dominquez/datacloud_new/scss/base/_helpers.scss */
.no-padding {
  padding-left: 0px;
  padding-right: 0px;
}

/* line 31, D:/ASUS/DEVotion/OneDrive_2019-07-20/Jason Lopez Dominquez/datacloud_new/scss/base/_helpers.scss */
.visible-full-hd {
  display: none !important;
}

/* line 36, D:/ASUS/DEVotion/OneDrive_2019-07-20/Jason Lopez Dominquez/datacloud_new/scss/base/_helpers.scss */
.no-break {
  white-space: nowrap;
}

/* line 41, D:/ASUS/DEVotion/OneDrive_2019-07-20/Jason Lopez Dominquez/datacloud_new/scss/base/_helpers.scss */
img {
  margin: 0 auto;
}

/* line 46, D:/ASUS/DEVotion/OneDrive_2019-07-20/Jason Lopez Dominquez/datacloud_new/scss/base/_helpers.scss */
video {
  width: 100%;
  display: block;
}

/* line 51, D:/ASUS/DEVotion/OneDrive_2019-07-20/Jason Lopez Dominquez/datacloud_new/scss/base/_helpers.scss */
.aligned-text {
  text-align: center;
}

/* line 55, D:/ASUS/DEVotion/OneDrive_2019-07-20/Jason Lopez Dominquez/datacloud_new/scss/base/_helpers.scss */
ul.aligned-list {
  padding: 0px;
  list-style: none;
  text-align: center;
}

@media (min-width: 768px) {
  /* line 70, D:/ASUS/DEVotion/OneDrive_2019-07-20/Jason Lopez Dominquez/datacloud_new/scss/base/_helpers.scss */
  .aligned-text {
    text-align: left;
  }
  /* line 74, D:/ASUS/DEVotion/OneDrive_2019-07-20/Jason Lopez Dominquez/datacloud_new/scss/base/_helpers.scss */
  ul.aligned-list {
    padding-left: 40px;
    list-style: disc;
    text-align: left;
  }
}

/* line 1, D:/ASUS/DEVotion/OneDrive_2019-07-20/Jason Lopez Dominquez/datacloud_new/scss/layout/_header.scss */
header {
  background-color: #CFCFCF;
  background-image: url("../img/city-bg.png");
  background-size: cover;
  background-position: center top;
  position: relative;
}

/* line 7, D:/ASUS/DEVotion/OneDrive_2019-07-20/Jason Lopez Dominquez/datacloud_new/scss/layout/_header.scss */
header .navbar {
  padding: 0px;
}

/* line 9, D:/ASUS/DEVotion/OneDrive_2019-07-20/Jason Lopez Dominquez/datacloud_new/scss/layout/_header.scss */
header .navbar .navbar-toggler {
  background-color: #1F347F;
  padding: 15px 10px;
  border-radius: 0px;
  border: none;
  height: 60px;
  width: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  transition: all ease 0.3s;
}

/* line 22, D:/ASUS/DEVotion/OneDrive_2019-07-20/Jason Lopez Dominquez/datacloud_new/scss/layout/_header.scss */
header .navbar .navbar-toggler .icon-bar {
  display: block;
  background: #fff;
  height: 4px;
  width: 40px;
  transition: all ease 0.3s;
}

/* line 29, D:/ASUS/DEVotion/OneDrive_2019-07-20/Jason Lopez Dominquez/datacloud_new/scss/layout/_header.scss */
header .navbar .navbar-toggler .icon-bar.middle {
  height: 0px;
  opacity: 0;
}

/* line 33, D:/ASUS/DEVotion/OneDrive_2019-07-20/Jason Lopez Dominquez/datacloud_new/scss/layout/_header.scss */
header .navbar .navbar-toggler .icon-bar.top {
  transform: rotate(225deg);
  margin-bottom: -2px;
}

/* line 37, D:/ASUS/DEVotion/OneDrive_2019-07-20/Jason Lopez Dominquez/datacloud_new/scss/layout/_header.scss */
header .navbar .navbar-toggler .icon-bar.bottom {
  transform: rotate(-225deg);
  margin-top: -2px;
}

/* line 44, D:/ASUS/DEVotion/OneDrive_2019-07-20/Jason Lopez Dominquez/datacloud_new/scss/layout/_header.scss */
header .navbar .navbar-toggler.collapsed {
  justify-content: space-between;
}

/* line 47, D:/ASUS/DEVotion/OneDrive_2019-07-20/Jason Lopez Dominquez/datacloud_new/scss/layout/_header.scss */
header .navbar .navbar-toggler.collapsed .icon-bar {
  transform: rotate(0deg);
  transform-origin: center;
  width: 40px;
}

/* line 51, D:/ASUS/DEVotion/OneDrive_2019-07-20/Jason Lopez Dominquez/datacloud_new/scss/layout/_header.scss */
header .navbar .navbar-toggler.collapsed .icon-bar.top {
  width: 20px;
  animation: barTop infinite 5s;
}

/* line 55, D:/ASUS/DEVotion/OneDrive_2019-07-20/Jason Lopez Dominquez/datacloud_new/scss/layout/_header.scss */
header .navbar .navbar-toggler.collapsed .icon-bar.middle {
  width: 30px;
  height: 4px;
  opacity: 1;
  animation: barMiddle infinite 5s;
}

/* line 61, D:/ASUS/DEVotion/OneDrive_2019-07-20/Jason Lopez Dominquez/datacloud_new/scss/layout/_header.scss */
header .navbar .navbar-toggler.collapsed .icon-bar.bottom {
  animation: barBottom infinite 5s;
}

/* line 67, D:/ASUS/DEVotion/OneDrive_2019-07-20/Jason Lopez Dominquez/datacloud_new/scss/layout/_header.scss */
header .navbar .navbar-toggler:focus {
  outline: none;
}

/* line 72, D:/ASUS/DEVotion/OneDrive_2019-07-20/Jason Lopez Dominquez/datacloud_new/scss/layout/_header.scss */
header .navbar .navbar-collapse .navbar-nav {
  padding: 15px 0px;
}

/* line 76, D:/ASUS/DEVotion/OneDrive_2019-07-20/Jason Lopez Dominquez/datacloud_new/scss/layout/_header.scss */
header .navbar .navbar-collapse .navbar-nav li .nav-link {
  font-size: 14pt;
  font-weight: 900;
  padding-left: 15px;
  padding-right: 15px;
  text-transform: capitalize;
  color: rgba(18, 28, 78, 0.5);
}

/* line 87, D:/ASUS/DEVotion/OneDrive_2019-07-20/Jason Lopez Dominquez/datacloud_new/scss/layout/_header.scss */
header .navbar .navbar-collapse .navbar-nav li.active .nav-link {
  color: #121C4E;
}

/* line 96, D:/ASUS/DEVotion/OneDrive_2019-07-20/Jason Lopez Dominquez/datacloud_new/scss/layout/_header.scss */
header .info-toggle {
  background: #1F347F;
  border: none;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: auto;
  left: auto;
  height: 60px;
  width: 60px;
  justify-content: center;
  align-items: center;
}

/* line 109, D:/ASUS/DEVotion/OneDrive_2019-07-20/Jason Lopez Dominquez/datacloud_new/scss/layout/_header.scss */
header .info-toggle:focus {
  outline: none;
}

/* line 112, D:/ASUS/DEVotion/OneDrive_2019-07-20/Jason Lopez Dominquez/datacloud_new/scss/layout/_header.scss */
header .info-toggle .fas {
  font-size: 30px;
  color: #fff;
  line-height: 1;
  transform: rotate(360deg);
  transform-origin: center;
  transition: all ease 0.5s;
}

/* line 122, D:/ASUS/DEVotion/OneDrive_2019-07-20/Jason Lopez Dominquez/datacloud_new/scss/layout/_header.scss */
header .info-toggle.collapsed .fas {
  transform: rotate(0deg);
}

/* line 128, D:/ASUS/DEVotion/OneDrive_2019-07-20/Jason Lopez Dominquez/datacloud_new/scss/layout/_header.scss */
header .text-container {
  padding: 30px 15px 200px 15px;
}

/* line 131, D:/ASUS/DEVotion/OneDrive_2019-07-20/Jason Lopez Dominquez/datacloud_new/scss/layout/_header.scss */
header .text-container .info-title {
  font-size: 24pt;
  font-weight: 300;
  margin-bottom: 20px;
  color: #121C4E;
}

/* line 35, D:/ASUS/DEVotion/OneDrive_2019-07-20/Jason Lopez Dominquez/datacloud_new/scss/components/_button.scss */
.primary-button, .btn-default, .btn-general {
  background-color: #F2635D;
  color: #fff;
  padding: 8.5px 15px;
  border: none;
  border-radius: 0px;
  font-size: 18px;
  line-height: 1.3;
  text-decoration: none;
  text-align: center;
  outline: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

/* line 18, D:/ASUS/DEVotion/OneDrive_2019-07-20/Jason Lopez Dominquez/datacloud_new/scss/abstracts/_mixins.scss */
.primary-button:hover, .primary-button:active, .primary-button:focus, .btn-default:hover, .btn-default:active, .btn-default:focus, .btn-general:hover, .btn-general:active, .btn-general:focus {
  color: #fff;
  background-color: #ce544f;
  text-decoration: none;
}

/* line 39, D:/ASUS/DEVotion/OneDrive_2019-07-20/Jason Lopez Dominquez/datacloud_new/scss/components/_button.scss */
.primary-button.active.focus, .primary-button.active:focus, .primary-button.active:hover, .primary-button:active.focus, .primary-button:active:focus, .primary-button:active:hover, .btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .btn-general.active.focus, .btn-general.active:focus, .btn-general.active:hover, .btn-general:active.focus, .btn-general:active:focus, .btn-general:active:hover {
  background-color: #F2635D;
  color: #fff;
  padding: 8.5px 15px;
  border: none;
  border-radius: 0px;
  font-size: 18px;
  line-height: 1.3;
  text-decoration: none;
  text-align: center;
  outline: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

/* line 18, D:/ASUS/DEVotion/OneDrive_2019-07-20/Jason Lopez Dominquez/datacloud_new/scss/abstracts/_mixins.scss */
.primary-button.active.focus:hover, .primary-button.active.focus:active, .primary-button.active.focus:focus, .primary-button.active:focus:hover, .primary-button.active:focus:active, .primary-button.active:focus:focus, .primary-button.active:hover:hover, .primary-button.active:hover:active, .primary-button.active:hover:focus, .primary-button:active.focus:hover, .primary-button:active.focus:active, .primary-button:active.focus:focus, .primary-button:active:focus:hover, .primary-button:active:focus:active, .primary-button:active:focus:focus, .primary-button:active:hover:hover, .primary-button:active:hover:active, .primary-button:active:hover:focus, .btn-default.active.focus:hover, .btn-default.active.focus:active, .btn-default.active.focus:focus, .btn-default.active:focus:hover, .btn-default.active:focus:active, .btn-default.active:focus:focus, .btn-default.active:hover:hover, .btn-default.active:hover:active, .btn-default.active:hover:focus, .btn-default:active.focus:hover, .btn-default:active.focus:active, .btn-default:active.focus:focus, .btn-default:active:focus:hover, .btn-default:active:focus:active, .btn-default:active:focus:focus, .btn-default:active:hover:hover, .btn-default:active:hover:active, .btn-default:active:hover:focus, .btn-general.active.focus:hover, .btn-general.active.focus:active, .btn-general.active.focus:focus, .btn-general.active:focus:hover, .btn-general.active:focus:active, .btn-general.active:focus:focus, .btn-general.active:hover:hover, .btn-general.active:hover:active, .btn-general.active:hover:focus, .btn-general:active.focus:hover, .btn-general:active.focus:active, .btn-general:active.focus:focus, .btn-general:active:focus:hover, .btn-general:active:focus:active, .btn-general:active:focus:focus, .btn-general:active:hover:hover, .btn-general:active:hover:active, .btn-general:active:hover:focus {
  color: #fff;
  background-color: #ce544f;
  text-decoration: none;
}

/* line 1, D:/ASUS/DEVotion/OneDrive_2019-07-20/Jason Lopez Dominquez/datacloud_new/scss/pages/_home.scss */
body {
  background-color: #F2F2F2;
  background-image: url("../img/main-bg.svg");
  background-size: auto;
  background-repeat: repeat;
  min-width: 100vw;
  min-height: 100vh;
}

@keyframes barTop {
  0% {
    width: 20px;
  }
  25% {
    width: 30px;
  }
  50% {
    width: 40px;
  }
  75% {
    width: 30px;
  }
  100% {
    width: 20px;
  }
}

@keyframes barMiddle {
  0% {
    width: 30px;
  }
  25% {
    width: 40px;
  }
  50% {
    width: 20px;
  }
  75% {
    width: 40px;
  }
  100% {
    width: 30px;
  }
}

@keyframes barBottom {
  0% {
    width: 40px;
  }
  25% {
    width: 20px;
  }
  50% {
    width: 30px;
  }
  75% {
    width: 20px;
  }
  100% {
    width: 40px;
  }
}

/*# sourceMappingURL=../css/main.map */