@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500");
@font-face {
  font-family: 'TaubSans';
  src: url("../assets/fonts/TaubSans/light/TaubSans-Light.eot");
  src: url("../assets/fonts/TaubSans/light/TaubSans-Light.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TaubSans/light/TaubSans-Light.woff2") format("woff2"), url("../assets/fonts/TaubSans/light/TaubSans-Light.woff") format("woff"), url("../assets/fonts/TaubSans/light/TaubSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'TaubSans';
  src: url("../assets/fonts/TaubSans/regular/TaubSans-Regular.eot");
  src: url("../assets/fonts/TaubSans/regular/TaubSans-Regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TaubSans/regular/TaubSans-Regular.woff2") format("woff2"), url("../assets/fonts/TaubSans/regular/TaubSans-Regular.woff") format("woff"), url("../assets/fonts/TaubSans/regular/TaubSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'TaubSans';
  src: url("../assets/fonts/TaubSans/medium/TaubSans-Medium.eot");
  src: url("../assets/fonts/TaubSans/medium/TaubSans-Medium.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TaubSans/medium/TaubSans-Medium.woff2") format("woff2"), url("../assets/fonts/TaubSans/medium/TaubSans-Medium.woff") format("woff"), url("../assets/fonts/TaubSans/medium/TaubSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TaubSans';
  src: url("../assets/fonts/TaubSans/bold/TaubSans-Bold.eot");
  src: url("../assets/fonts/TaubSans/bold/TaubSans-Bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TaubSans/bold/TaubSans-Bold.woff2") format("woff2"), url("../assets/fonts/TaubSans/bold/TaubSans-Bold.woff") format("woff"), url("../assets/fonts/TaubSans/bold/TaubSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'TaubSans';
  src: url("../assets/fonts/TaubSans/heavy/TaubSans-Heavy.eot");
  src: url("../assets/fonts/TaubSans/heavy/TaubSans-Heavy.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TaubSans/heavy/TaubSans-Heavy.woff2") format("woff2"), url("../assets/fonts/TaubSans/heavy/TaubSans-Heavy.woff") format("woff"), url("../assets/fonts/TaubSans/heavy/TaubSans-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'TaubDisplay';
  src: url("../assets/fonts/TaubDisplay/TaubDisplay-C.eot");
  src: url("../assets/fonts/TaubDisplay/TaubDisplay-C.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TaubDisplay/TaubDisplay-C.woff2") format("woff2"), url("../assets/fonts/TaubDisplay/TaubDisplay-C.woff") format("woff"), url("../assets/fonts/TaubDisplay/TaubDisplay-C.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

/* line 5, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/base/_base.scss */
body {
  background-color: #fff;
  font-family: "TaubSans", times, "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  color: #222222;
  font-size: 12pt;
  line-height: 1.25;
}

/* line 16, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/base/_base.scss */
h1,
h2,
h3,
h4,
h5 {
  color: #121C4E;
  font-weight: bold;
  line-height: 1.3;
  text-transform: none;
}

/* line 28, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/base/_base.scss */
p {
  color: #222222;
  line-height: 1.25;
  word-wrap: break-word;
  font-weight: 300;
}

/* line 36, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/base/_base.scss */
a {
  color: #F2635D;
  line-height: 1.3;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* line 18, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/abstracts/_mixins.scss */
a:hover, a:active, a:focus {
  color: #F2635D;
  text-decoration: underline;
}

/* line 50, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/base/_base.scss */
::-moz-selection {
  background: #121C4E;
  color: #fff;
}

/* line 55, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/base/_base.scss */
::selection {
  background: #121C4E;
  color: #fff;
}

/* line 6, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/base/_helpers.scss */
.clearfix::after {
  clear: both;
  content: '';
  display: table;
}

/* line 13, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/base/_helpers.scss */
.text-white {
  color: #fff;
}

/* line 17, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/base/_helpers.scss */
.full-wd {
  width: 100%;
}

/* line 21, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/base/_helpers.scss */
.no-margin {
  margin: 0px;
}

/* line 25, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/base/_helpers.scss */
.no-padding {
  padding-left: 0px;
  padding-right: 0px;
}

/* line 31, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/base/_helpers.scss */
.visible-full-hd {
  display: none !important;
}

/* line 36, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/base/_helpers.scss */
.no-break {
  white-space: nowrap;
}

/* line 41, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/base/_helpers.scss */
img {
  margin: 0 auto;
}

/* line 46, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/base/_helpers.scss */
video {
  width: 100%;
  display: block;
}

/* line 51, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/base/_helpers.scss */
.aligned-text {
  text-align: center;
}

/* line 55, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/base/_helpers.scss */
ul.aligned-list {
  padding: 0px;
  list-style: none;
  text-align: center;
}

@media (min-width: 768px) {
  /* line 70, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/base/_helpers.scss */
  .aligned-text {
    text-align: left;
  }
  /* line 74, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/base/_helpers.scss */
  ul.aligned-list {
    padding-left: 40px;
    list-style: disc;
    text-align: left;
  }
}

@media (min-width: 1550px) {
  /* line 83, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/base/_helpers.scss */
  .d-hd-block {
    display: block !important;
  }
}

/* line 1, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/layout/_header.scss */
header {
  background-color: #CFCFCF;
  background-image: url("../img/city-bg.png");
  background-position: 30% 67%;
  position: relative;
}

/* line 7, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/layout/_header.scss */
header .navbar {
  padding: 0px;
}

/* line 9, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/layout/_header.scss */
header .navbar .navbar-toggler {
  background-color: #1F347F;
  padding: 15px 10px;
  border-radius: 0px;
  border: none;
  height: 60px;
  width: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  transition: all ease 0.3s;
  z-index: 10;
}

/* line 23, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/layout/_header.scss */
header .navbar .navbar-toggler .icon-bar {
  display: block;
  background: #fff;
  height: 4px;
  width: 40px;
  transition: all ease 0.3s;
}

/* line 30, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/layout/_header.scss */
header .navbar .navbar-toggler .icon-bar.middle {
  height: 0px;
  opacity: 0;
}

/* line 34, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/layout/_header.scss */
header .navbar .navbar-toggler .icon-bar.top {
  transform: rotate(225deg);
  margin-bottom: -2px;
}

/* line 38, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/layout/_header.scss */
header .navbar .navbar-toggler .icon-bar.bottom {
  transform: rotate(-225deg);
  margin-top: -2px;
}

/* line 45, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/layout/_header.scss */
header .navbar .navbar-toggler.collapsed {
  justify-content: space-between;
}

/* line 48, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/layout/_header.scss */
header .navbar .navbar-toggler.collapsed .icon-bar {
  transform: rotate(0deg);
  transform-origin: center;
  width: 40px;
}

/* line 52, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/layout/_header.scss */
header .navbar .navbar-toggler.collapsed .icon-bar.top {
  width: 20px;
  animation: barTop infinite 5s;
}

/* line 56, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/layout/_header.scss */
header .navbar .navbar-toggler.collapsed .icon-bar.middle {
  width: 30px;
  height: 4px;
  opacity: 1;
  animation: barMiddle infinite 5s;
}

/* line 62, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/layout/_header.scss */
header .navbar .navbar-toggler.collapsed .icon-bar.bottom {
  animation: barBottom infinite 5s;
}

/* line 68, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/layout/_header.scss */
header .navbar .navbar-toggler:focus {
  outline: none;
}

/* line 72, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/layout/_header.scss */
header .navbar .navbar-collapse {
  position: fixed;
  z-index: 5;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: #1F347F;
  height: 100% !important;
  transform: scale(0);
  transform-origin: top left;
  transition: all ease 0.5s;
}

/* line 84, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/layout/_header.scss */
header .navbar .navbar-collapse ul.navbar-nav {
  padding: 30px 0px 30px 0px;
  opacity: 0;
  transition: all ease 0.5s 0.5s;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transition: all ease 0.5s 0.5s;
}

/* line 98, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/layout/_header.scss */
header .navbar .navbar-collapse ul.navbar-nav li .nav-link {
  font-size: 30pt;
  font-weight: 500;
  padding-left: 0px;
  padding-right: 0px;
  text-transform: capitalize;
  color: #fff;
  letter-spacing: 1.5pt;
  position: relative;
  transition: all ease 0.5s;
}

/* line 109, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/layout/_header.scss */
header .navbar .navbar-collapse ul.navbar-nav li .nav-link::after {
  content: '';
  height: 4px;
  width: 0px;
  background: #fff;
  position: absolute;
  bottom: -3px;
  top: auto;
  left: 50%;
  right: auto;
  transition: all ease 0.5s;
}

/* line 18, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/abstracts/_mixins.scss */
header .navbar .navbar-collapse ul.navbar-nav li .nav-link:hover, header .navbar .navbar-collapse ul.navbar-nav li .nav-link:active, header .navbar .navbar-collapse ul.navbar-nav li .nav-link:focus {
  color: #fff;
}

/* line 125, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/layout/_header.scss */
header .navbar .navbar-collapse ul.navbar-nav li .nav-link:hover:after, header .navbar .navbar-collapse ul.navbar-nav li .nav-link:active:after, header .navbar .navbar-collapse ul.navbar-nav li .nav-link:focus:after {
  width: 100%;
  left: 0;
}

/* line 133, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/layout/_header.scss */
header .navbar .navbar-collapse ul.navbar-nav li.active .nav-link {
  color: #fff;
}

/* line 136, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/layout/_header.scss */
header .navbar .navbar-collapse ul.navbar-nav li.active .nav-link:after {
  width: 100%;
  left: 0;
}

/* line 145, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/layout/_header.scss */
header .navbar .navbar-collapse.show {
  transform: scale(1);
}

/* line 148, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/layout/_header.scss */
header .navbar .navbar-collapse.show ul {
  opacity: 1;
}

/* line 156, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/layout/_header.scss */
header .info-toggle {
  background: #1F347F;
  border: none;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: auto;
  left: auto;
  height: 60px;
  width: 60px;
  justify-content: center;
  align-items: center;
}

/* line 170, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/layout/_header.scss */
header .info-toggle:focus {
  outline: none;
}

/* line 173, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/layout/_header.scss */
header .info-toggle .fas {
  font-size: 30px;
  color: #fff;
  line-height: 1;
  transform: rotate(360deg);
  transform-origin: center;
  transition: all ease 0.5s;
}

/* line 183, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/layout/_header.scss */
header .info-toggle.collapsed .fas {
  transform: rotate(0deg);
}

/* line 189, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/layout/_header.scss */
header .text-container {
  padding: 30px 15px 200px 15px;
}

/* line 192, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/layout/_header.scss */
header .text-container .info-title {
  font-size: 24pt;
  font-weight: 300;
  margin-bottom: 20px;
  color: #121C4E;
}

/* line 199, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/layout/_header.scss */
header .text-container .info-text {
  max-width: 610px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  /* line 208, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/layout/_header.scss */
  header {
    height: 100vh;
    width: 25vw;
    position: fixed;
    z-index: 1040;
    left: 0px;
    right: auto;
    top: 0px;
    bottom: 0px;
    background-size: cover;
    background-position: 5% 100%;
    transition: all ease 0.5s;
    animation: bgMoving infinite 30s;
  }
  /* line 225, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/layout/_header.scss */
  #additionalInfo {
    display: block;
    padding-top: 35px;
    padding-bottom: 0px;
  }
}

@media (min-width: 992px) {
  /* line 233, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/layout/_header.scss */
  header {
    width: 217pt;
  }
  /* line 237, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/layout/_header.scss */
  #additionalInfo {
    padding: 30px 25px 0pt 25px;
  }
}

/* line 35, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/components/_button.scss */
.primary-button, .btn-default, .btn-general {
  background-color: #F2635D;
  color: #fff;
  padding: 8.5px 15px;
  border: none;
  border-radius: 0px;
  font-size: 18px;
  line-height: 1.3;
  text-decoration: none;
  text-align: center;
  outline: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

/* line 18, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/abstracts/_mixins.scss */
.primary-button:hover, .primary-button:active, .primary-button:focus, .btn-default:hover, .btn-default:active, .btn-default:focus, .btn-general:hover, .btn-general:active, .btn-general:focus {
  color: #fff;
  background-color: #ce544f;
  text-decoration: none;
}

/* line 39, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/components/_button.scss */
.primary-button.active.focus, .primary-button.active:focus, .primary-button.active:hover, .primary-button:active.focus, .primary-button:active:focus, .primary-button:active:hover, .btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .btn-general.active.focus, .btn-general.active:focus, .btn-general.active:hover, .btn-general:active.focus, .btn-general:active:focus, .btn-general:active:hover {
  background-color: #F2635D;
  color: #fff;
  padding: 8.5px 15px;
  border: none;
  border-radius: 0px;
  font-size: 18px;
  line-height: 1.3;
  text-decoration: none;
  text-align: center;
  outline: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

/* line 18, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/abstracts/_mixins.scss */
.primary-button.active.focus:hover, .primary-button.active.focus:active, .primary-button.active.focus:focus, .primary-button.active:focus:hover, .primary-button.active:focus:active, .primary-button.active:focus:focus, .primary-button.active:hover:hover, .primary-button.active:hover:active, .primary-button.active:hover:focus, .primary-button:active.focus:hover, .primary-button:active.focus:active, .primary-button:active.focus:focus, .primary-button:active:focus:hover, .primary-button:active:focus:active, .primary-button:active:focus:focus, .primary-button:active:hover:hover, .primary-button:active:hover:active, .primary-button:active:hover:focus, .btn-default.active.focus:hover, .btn-default.active.focus:active, .btn-default.active.focus:focus, .btn-default.active:focus:hover, .btn-default.active:focus:active, .btn-default.active:focus:focus, .btn-default.active:hover:hover, .btn-default.active:hover:active, .btn-default.active:hover:focus, .btn-default:active.focus:hover, .btn-default:active.focus:active, .btn-default:active.focus:focus, .btn-default:active:focus:hover, .btn-default:active:focus:active, .btn-default:active:focus:focus, .btn-default:active:hover:hover, .btn-default:active:hover:active, .btn-default:active:hover:focus, .btn-general.active.focus:hover, .btn-general.active.focus:active, .btn-general.active.focus:focus, .btn-general.active:focus:hover, .btn-general.active:focus:active, .btn-general.active:focus:focus, .btn-general.active:hover:hover, .btn-general.active:hover:active, .btn-general.active:hover:focus, .btn-general:active.focus:hover, .btn-general:active.focus:active, .btn-general:active.focus:focus, .btn-general:active:focus:hover, .btn-general:active:focus:active, .btn-general:active:focus:focus, .btn-general:active:hover:hover, .btn-general:active:hover:active, .btn-general:active:hover:focus {
  color: #fff;
  background-color: #ce544f;
  text-decoration: none;
}

/* line 3, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
body {
  background-color: #F2F2F2;
  background-image: url("../img/main-bg.svg");
  background-size: cover;
  background-repeat: repeat;
}

/* line 13, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
.main-content {
  min-height: 100vh;
  padding-top: 30px;
  padding-bottom: 40pt;
  max-width: 100%;
  overflow: hidden;
  text-align: center;
  position: relative;
}

/* line 23, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
.main-content .tagline-container .tagline {
  margin-top: 0px;
  text-align: center;
  font-family: "TaubDisplay", times, sans-serif;
  font-size: 40pt;
  margin-bottom: 100px;
  transition: all ease 0.3s;
}

/* line 30, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
.main-content .tagline-container .tagline span {
  transition: all ease 0.3s;
}

/* line 36, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
.main-content .center-content {
  position: relative;
}

/* line 40, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
.main-content .container-fluid {
  position: relative;
}

/* line 45, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
.phone-container {
  position: relative;
  display: inline-block;
}

/* line 49, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
.phone-container .circles {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

/* line 57, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
.phone-container .circles:before {
  content: '';
  display: block;
  height: 300pt;
  width: 300pt;
  border-radius: 100%;
  position: absolute;
  top: calc(50% - 150pt);
  bottom: auto;
  left: calc(50% - 150pt);
  right: auto;
  background: #1F347F;
  opacity: 0.5;
  z-index: 1;
}

/* line 73, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
.phone-container .circles:after {
  content: '';
  display: block;
  height: 270pt;
  width: 270pt;
  border-radius: 100%;
  position: absolute;
  top: calc(50% - 135pt);
  bottom: auto;
  left: calc(50% - 135pt);
  right: auto;
  background: #1F347F;
  z-index: 2;
}

/* line 88, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
.phone-container .phone {
  width: 166pt;
  height: 365pt;
  border-radius: 20pt;
  background-color: transparent;
  background-size: cover;
  box-shadow: 15px 15px 35px rgba(8, 49, 68, 0.3);
  position: relative;
  margin-left: auto;
  margin-right: auto;
  z-index: 3;
  padding: 20pt 11pt 13pt 11pt;
}

/* line 102, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
.phone-container .phone ::-moz-selection {
  background: transparent;
}

/* line 106, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
.phone-container .phone ::selection {
  background: transparent;
}

/* line 111, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
.phone-container .phone .phone-frame {
  width: 170pt;
  position: absolute;
  top: 0px;
  left: -2pt;
  bottom: auto;
  right: auto;
  z-index: 1;
}

/* line 121, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
.phone-container .phone .phone-content {
  z-index: 2;
  position: relative;
}

/* line 126, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
.phone-container .phone .phone-content .counter:after {
  content: '%';
  display: inline;
}

/* line 139, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
.tabs-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

/* line 148, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
.tabs-container #animated-circle, .tabs-container #animated-dots {
  display: none;
}

/* line 154, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
.tabs-container .tabs .tab-toggler {
  height: 50pt;
  width: 50pt;
  background: #fff;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all ease 0.5s;
  position: absolute;
}

/* line 168, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
.tabs-container .tabs .tab-toggler#btn-executive {
  bottom: -60pt;
  left: calc((100vw - 320px)/2.5);
  top: auto;
  right: auto;
}

/* line 175, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
.tabs-container .tabs .tab-toggler#btn-data {
  top: -60pt;
  left: calc((100vw - 320px)/2.5);
  bottom: auto;
  right: auto;
}

/* line 181, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
.tabs-container .tabs .tab-toggler#btn-data .toggler-title {
  top: auto;
  right: calc(100% + 20pt);
}

/* line 187, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
.tabs-container .tabs .tab-toggler#btn-reporting {
  top: -60pt;
  right: calc((100vw - 320px)/2.5);
  bottom: auto;
  left: auto;
}

/* line 193, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
.tabs-container .tabs .tab-toggler#btn-reporting .toggler-title {
  top: auto;
  bottom: calc(100% + 20pt);
}

/* line 199, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
.tabs-container .tabs .tab-toggler#btn-benchmarking {
  bottom: -60pt;
  right: calc((100vw - 320px)/2.5);
  top: auto;
  left: auto;
}

/* line 205, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
.tabs-container .tabs .tab-toggler#btn-benchmarking .toggler-title {
  top: auto;
  left: calc(100% + 20pt);
}

/* line 211, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
.tabs-container .tabs .tab-toggler img {
  height: 20pt;
  position: relative;
  z-index: 4;
}

/* line 218, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
.tabs-container .tabs .tab-toggler .toggler-title {
  position: absolute;
  top: calc(100% + 20px);
  bottom: auto;
  left: auto;
  right: auto;
  width: max-content;
  font-size: 24pt;
  font-weight: 900;
  color: #121C4E;
  text-align: center;
  transform-origin: left center;
  transform: rotateY(0deg);
  opacity: 1;
}

/* line 234, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
.tabs-container .tabs .tab-toggler::before {
  content: '';
  display: block;
  background: #121C4E;
  height: 42pt;
  width: 42pt;
  border-radius: 100%;
  position: absolute;
  top: calc(50% - 21pt);
  bottom: auto;
  left: calc(50% - 21pt);
  right: auto;
  transition: all ease 0.5s;
  z-index: 3;
}

/* line 252, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
.tabs-container .tabs .tab-toggler::after {
  content: '';
  display: block;
  background: transparent;
  height: 51.5pt;
  width: 51.5pt;
  border: 1.5pt dashed #121C4E;
  border-radius: 100%;
  position: absolute;
  top: calc(50% - 25.75pt);
  bottom: auto;
  left: calc(50% - 25.75pt);
  right: auto;
  transition: all ease 0.5s;
  transform: rotate(180deg);
  z-index: 2;
}

/* line 302, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
.tabs-container .tabs .tab-toggler:hover .toggler-title, .tabs-container .tabs .tab-toggler:active .toggler-title, .tabs-container .tabs .tab-toggler:focus .toggler-title {
  color: #1F347F;
}

/* line 305, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
.tabs-container .tabs .tab-toggler:hover::before, .tabs-container .tabs .tab-toggler:active::before, .tabs-container .tabs .tab-toggler:focus::before {
  background: #1F347F;
}

/* line 308, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
.tabs-container .tabs .tab-toggler:hover::after, .tabs-container .tabs .tab-toggler:active::after, .tabs-container .tabs .tab-toggler:focus::after {
  border-color: #1F347F;
  transform: rotate(0deg);
}

/* line 316, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
.tabs-container .tabs .tab-toggler.active .toggler-title {
  transform: rotateY(90deg);
  opacity: 0;
  transition: all ease 1s 1s;
}

/* line 327, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
#carousel-container {
  padding-top: 100px;
}

/* line 331, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
#carousel-container .text-carousel-item .text-title {
  font-size: 24pt;
  font-weight: 900;
  margin-bottom: 10pt;
  transition: all ease 1s 0.5s;
  transform-origin: left center;
  transform: rotateY(90deg);
  opacity: 0;
  color: #1F347F;
}

/* line 342, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
#carousel-container .text-carousel-item .text-content {
  transition: all ease 1s 1s;
  transform-origin: top center;
  transform: rotateX(90deg);
  opacity: 0;
}

/* line 350, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
#carousel-container .text-carousel-item.active .text-title {
  transform: rotateY(0deg);
  opacity: 1;
  transition: all ease 1s 0s;
}

/* line 356, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
#carousel-container .text-carousel-item.active .text-content {
  transform-origin: top center;
  transform: rotateX(0deg);
  opacity: 1;
  transition: all ease 1s 0.5s;
}

@media (max-width: 767.9px) {
  /* line 367, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
  #animated-circle, #animated-dots {
    display: none !important;
  }
}

@media (min-width: 768px) {
  /* line 373, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
  .main-content {
    padding-left: 25vw;
  }
  /* line 377, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
  .phone-container {
    transform: scale(0.7);
  }
  /* line 381, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
  .tabs-container {
    width: 500px;
    height: 500px;
    top: 0px;
    bottom: 0px;
    left: calc(50% - 250px);
    right: auto;
    padding: 15pt;
  }
  /* line 393, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
  .tabs-container #animated-circle {
    display: none;
  }
  /* line 398, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
  .tabs-container #animated-dots {
    position: absolute;
    display: block;
    position: absolute;
    top: 0px;
    bottom: auto;
    left: 0px;
    right: auto;
  }
  /* line 412, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
  .tabs-container .tabs .tab-toggler {
    height: 60pt;
    width: 60pt;
  }
  /* line 416, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
  .tabs-container .tabs .tab-toggler#btn-executive {
    bottom: -13pt;
    left: calc(50% - 30pt);
  }
  /* line 421, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
  .tabs-container .tabs .tab-toggler#btn-data {
    top: calc(50% - 30pt);
    left: -13pt;
    bottom: auto;
    right: auto;
  }
  /* line 428, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
  .tabs-container .tabs .tab-toggler#btn-reporting {
    top: -13pt;
    left: calc(50% - 30pt);
    bottom: auto;
    right: auto;
  }
  /* line 435, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
  .tabs-container .tabs .tab-toggler#btn-benchmarking {
    top: calc(50% - 30pt);
    right: -13pt;
    bottom: auto;
    left: auto;
  }
  /* line 442, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
  .tabs-container .tabs .tab-toggler img {
    height: 24pt;
    position: relative;
  }
  /* line 447, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
  .tabs-container .tabs .tab-toggler::before {
    height: 50pt;
    width: 50pt;
    top: calc(50% - 25pt);
    left: calc(50% - 25pt);
  }
  /* line 455, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
  .tabs-container .tabs .tab-toggler::after {
    height: 61.5pt;
    width: 61.5pt;
    top: calc(50% - 30.75pt);
    left: calc(50% - 30.75pt);
  }
  /* line 465, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
  #carousel-container {
    padding-top: 50px;
  }
}

@media (min-width: 992px) {
  /* line 477, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
  .main-content {
    padding-left: 217pt;
  }
  /* line 481, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
  .main-content .tagline-container .tagline {
    font-size: 50pt;
    line-height: 1;
  }
}

@media (min-width: 1200px) {
  /* line 489, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
  .main-content {
    padding-bottom: 120pt;
  }
  /* line 492, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
  .main-content .tagline-container .tagline {
    margin-bottom: 130pt;
  }
  /* line 497, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
  .phone-container {
    transform: scale(1);
  }
  /* line 501, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
  .tabs-container {
    width: 520pt;
    height: 520pt;
    left: calc(50% - 260pt);
    top: calc(50% - 260pt);
  }
  /* line 513, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
  .tabs-container .tabs .tab-toggler {
    height: 60pt;
    width: 60pt;
  }
  /* line 517, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
  .tabs-container .tabs .tab-toggler#btn-executive {
    bottom: -13pt;
    left: calc(50% - 30pt);
  }
  /* line 522, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
  .tabs-container .tabs .tab-toggler#btn-data {
    top: calc(50% - 30pt);
    left: -13pt;
    bottom: auto;
    right: auto;
  }
  /* line 529, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
  .tabs-container .tabs .tab-toggler#btn-reporting {
    top: -13pt;
    left: calc(50% - 30pt);
    bottom: auto;
    right: auto;
  }
  /* line 536, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
  .tabs-container .tabs .tab-toggler#btn-benchmarking {
    top: calc(50% - 30pt);
    right: -13pt;
    bottom: auto;
    left: auto;
  }
  /* line 543, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
  .tabs-container .tabs .tab-toggler img {
    height: 24pt;
    position: relative;
  }
  /* line 548, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
  .tabs-container .tabs .tab-toggler::before {
    height: 50pt;
    width: 50pt;
    top: calc(50% - 25pt);
    left: calc(50% - 25pt);
  }
  /* line 556, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
  .tabs-container .tabs .tab-toggler::after {
    height: 61.5pt;
    width: 61.5pt;
    top: calc(50% - 30.75pt);
    left: calc(50% - 30.75pt);
  }
}

@media (min-width: 1550px) {
  /* line 568, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
  .main-content {
    padding-bottom: 160pt;
  }
  /* line 571, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/pages/_home.scss */
  .main-content .tagline-container .tagline {
    margin-bottom: 170pt;
  }
}

@keyframes barTop {
  0% {
    width: 20px;
  }
  25% {
    width: 30px;
  }
  50% {
    width: 40px;
  }
  75% {
    width: 30px;
  }
  100% {
    width: 20px;
  }
}

@keyframes barMiddle {
  0% {
    width: 30px;
  }
  25% {
    width: 40px;
  }
  50% {
    width: 20px;
  }
  75% {
    width: 40px;
  }
  100% {
    width: 30px;
  }
}

@keyframes barBottom {
  0% {
    width: 40px;
  }
  25% {
    width: 20px;
  }
  50% {
    width: 30px;
  }
  75% {
    width: 20px;
  }
  100% {
    width: 40px;
  }
}

@keyframes bgMoving {
  0% {
    background-position: 5% 100%;
  }
  7% {
    background-position: 54% 100%;
  }
  14% {
    background-position: 52% 100%;
  }
  21% {
    background-position: 55% 100%;
  }
  28% {
    background-position: 56% 100%;
  }
  35% {
    background-position: 80% 100%;
  }
  42% {
    background-position: 100% 100%;
  }
  49% {
    background-position: 80% 100%;
  }
  56% {
    background-position: 56% 100%;
  }
  63% {
    background-position: 55% 100%;
  }
  70% {
    background-position: 52% 100%;
  }
  77% {
    background-position: 54% 100%;
  }
  84% {
    background-position: 5% 100%;
  }
  91% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 5% 100%;
  }
}

@keyframes explotionDots {
  0% {
    transform: scale(0.7);
    opacity: 0;
  }
  25% {
    transform: scale(1.2);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: 1;
  }
  75% {
    transform: scale(1.7);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

/*CLASES*/
/* line 134, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/animations/_animations.scss */
.animated {
  transition: all ease 1s;
}

/* line 136, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/animations/_animations.scss */
.animated.opacity {
  opacity: 0;
}

/* line 138, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/animations/_animations.scss */
.animated.opacity.in {
  opacity: 1;
}

/* line 143, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/animations/_animations.scss */
.animated.opacity-up {
  opacity: 0;
  transform: translateY(20px);
}

/* line 147, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/animations/_animations.scss */
.animated.opacity-up.in {
  opacity: 1;
  transform: translateY(0px);
}

/* line 153, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/animations/_animations.scss */
.animated.opacity-arrow {
  opacity: 0;
  transform: translateY(-20px) rotate(90deg);
}

/* line 157, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/animations/_animations.scss */
.animated.opacity-arrow.in {
  opacity: 1;
  transform: translateY(0px) rotate(90deg);
}

/* line 163, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/animations/_animations.scss */
.animated.opacity-down {
  opacity: 0;
  transform: translateY(-20px);
}

/* line 167, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/animations/_animations.scss */
.animated.opacity-down.in {
  opacity: 1;
  transform: translateY(0px);
}

/* line 173, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/animations/_animations.scss */
.animated.opacity-right {
  opacity: 0;
  transform: translateX(-20px);
}

/* line 177, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/animations/_animations.scss */
.animated.opacity-right.in {
  opacity: 1;
  transform: translateX(0px);
}

/* line 183, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/animations/_animations.scss */
.animated.opacity-left {
  opacity: 0;
  transform: translateX(20px);
}

/* line 187, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/animations/_animations.scss */
.animated.opacity-left.in {
  opacity: 1;
  transform: translateX(0px);
}

/* line 193, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/animations/_animations.scss */
.animated.scale {
  transform: scale(0.7);
  opacity: 0;
}

/* line 196, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/animations/_animations.scss */
.animated.scale.in {
  transform: scale(1);
  opacity: 1;
}

/* line 201, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/animations/_animations.scss */
.animated.scale.uni-view {
  transform-origin: center;
  transition: all ease 0.5s;
}

/* line 207, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/animations/_animations.scss */
.animated.dots {
  transform-origin: center center;
  opacity: 0;
  transition: all ease 1s;
}

/* line 213, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/animations/_animations.scss */
.animated.dots.in {
  opacity: 1;
}

/* line 220, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/animations/_animations.scss */
.animated.bar {
  width: 0 !important;
  transition: all ease 2s;
}

/* line 224, Z:/Jeeson Lopez/DataCloud_Benchmarking_TEST-master/DataCloud_Benchmarking_TEST-master/scss/animations/_animations.scss */
.animated.bar.in {
  width: 148.47px !important;
}

/*# sourceMappingURL=../css/main.map */