

body{
    background-color: #F2F2F2;
    background-image: url("../img/main-bg.svg");
    background-size: cover;
    background-repeat: repeat;
    // width: 100vw;
    // height: 100vh;

}

.main-content{
    min-height: 100vh;
    padding-top: 40px;
    padding-bottom: 40pt;
    max-width: 100%;
    overflow: hidden;
    text-align: center;
    position: relative;

    .tagline-container{
        .tagline{
            margin-top: 0px;
            text-align: center;
            font-family: $secondary-font;
            font-size: 40pt;
            margin-bottom: 100px;
            transition: all ease 0.3s;
            span{
                transition: all ease 0.3s;
            }
        }
    }

    .center-content{
        position: relative;
    }
}

.phone-container{
    position: relative;
    display: inline-block;

    .circles{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        &:before{
            content: '';
            display: block;
            height: 300pt;
            width: 300pt;
            border-radius: 100%;
            position: absolute;
            top: calc(50% - 150pt);
            bottom: auto;
            left: calc(50% - 150pt);
            right: auto;
            background: $tint-blue;
            opacity: 0.5;
            z-index: 1;
        }

        &:after{
            content: '';
            display: block;
            height: 270pt;
            width: 270pt;
            border-radius: 100%;
            position: absolute;
            top: calc(50% - 135pt);
            bottom: auto;
            left: calc(50% - 135pt);
            right: auto;
            background: $tint-blue;
            z-index: 2;
        }
    }
    .phone{
        width: 166pt;
        height: 365pt;
        border-radius: 20pt;
        background-color: transparent;
        // background-image: url("../img/phone-frame.png");
        background-size: cover;
        box-shadow: 15px 15px 35px rgba(8,49,68, 0.3);
        position: relative;
        margin-left: auto;
        margin-right: auto;
        z-index: 3;
        padding: 20pt 11pt 13pt 11pt;

        ::-moz-selection{
            background: transparent;
        }

        ::selection{
            background: transparent;
            // color: $white;
        }

        .phone-frame{
            width: 170pt;
            position: absolute;
            top: 0px;
            left: -2pt;
            bottom: auto;
            right: auto;
            z-index: 1;
        }

        .phone-content{
            z-index: 2;
            position: relative;
        }

    }



}

.tabs-container{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    bottom: 0px;;
    left: 0px;
    right: 0px;

    #animated-circle, #animated-dots{
        display: none;
    }

    .tabs{

        .tab-toggler{
            // height: 60pt;
            // width: 60pt;
            height: 50pt;
            width: 50pt;
            background: $white;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            transition: all ease 0.5s;
            position: absolute;

            &#btn-executive{
                bottom: -60pt;
                left: calc((100vw - 320px)/2.5);
                top: auto;
                right: auto;
            }

            &#btn-data{
                top: -60pt;
                left: calc((100vw - 320px)/2.5);
                bottom: auto;
                right: auto;
            }

            &#btn-reporting{
                top: -60pt;
                right: calc((100vw - 320px)/2.5);
                bottom: auto;
                left: auto;
            }

            &#btn-benchmarking{
                bottom: -60pt;
                right: calc((100vw - 320px)/2.5);
                top: auto;
                left: auto;
            }

            img{
                // height: 24pt;
                height: 20pt;
                position: relative;
            }

            &::before{
                content: '';
                display: block;
                background: $blue;
                // height: 50pt;
                // width: 50pt;
                height: 42pt;
                width: 42pt;
                border-radius: 100%;
                position: absolute;
                top: calc(50% - 21pt);
                bottom: auto;
                left: calc(50% - 21pt);
                right: auto;
                transition: all ease 0.5s;
            }

            &::after{
                content: '';
                display: block;
                background: transparent;
                // height: 61.5pt;
                // width: 61.5pt;
                height: 51.5pt;
                width: 51.5pt;
                border: 1.5pt dashed $blue;
                border-radius: 100%;
                position: absolute;
                top: calc(50% - 25.75pt);
                bottom: auto;
                left: calc(50% - 25.75pt);
                right: auto;
                transition: all ease 0.5s;
                transform: rotate(180deg);
            }

            @include on-event{
                &::before{
                    background: $tint-blue;
                }
                &::after{
                    border-color: $tint-blue;
                    transform: rotate(0deg);
                }
            }
        }
    }
}

@media (max-width: 767.9px) {
    #animated-circle, #animated-dots{
        display: none !important;
    }
}

@media (min-width: 768px) {
    .main-content{
        padding-left: 25vw;
    }

    .phone-container{
        transform: scale(0.7);
    }

    .tabs-container{
        // background: red;
        // width: 520pt;
        // height: 520pt;
        width: 500px;
        height: 500px;
        top: 0px;
        bottom: 0px;;
        left: calc(50% - 250px);
        right: auto;
        padding: 15pt;

        #animated-circle, #animated-dots{
            // display: none;
            display: block;
        }

        #animated-dots{
            position: absolute;
            // transform: scale(1.005);
            position: absolute;
            top: 0px;
            bottom: auto;
            left: 0px;
            right: auto;
        }


        .tabs{

            .tab-toggler{
                height: 60pt;
                width: 60pt;

                &#btn-executive{
                    bottom: -13pt;
                    left: calc(50% - 30pt);
                }

                &#btn-data{
                    top: calc(50% - 30pt);
                    left: -13pt;
                    bottom: auto;
                    right: auto;
                }

                &#btn-reporting{
                    top: -13pt;
                    left: calc(50% - 30pt);
                    bottom: auto;
                    right: auto;
                }

                &#btn-benchmarking{
                    top: calc(50% - 30pt);
                    right: -13pt;
                    bottom: auto;
                    left: auto;
                }

                img{
                    height: 24pt;
                    position: relative;
                }

                &::before{
                    height: 50pt;
                    width: 50pt;
                    top: calc(50% - 25pt);
                    left: calc(50% - 25pt);

                }

                &::after{
                    height: 61.5pt;
                    width: 61.5pt;
                    top: calc(50% - 30.75pt);
                    left: calc(50% - 30.75pt);
                }
            }
        }
    }
}

@media (min-width: 992px) {
    .main-content{
        padding-left: 217pt;

        .tagline-container{
            .tagline{
                font-size: 50pt;

            }
        }
    }
}
@media (min-width: 1200px) {
    .main-content{

        .tagline-container{
            .tagline{
                margin-bottom: 100pt;
            }
        }
    }
    .phone-container{
        transform: scale(1);
    }

    .tabs-container{
        // background: red;
        width: 520pt;
        height: 520pt;
        left: calc(50% - 260pt);
        top: calc(50% - 260pt);

        #animated-circle{
            display: none;
        }


        .tabs{

            .tab-toggler{
                height: 60pt;
                width: 60pt;

                &#btn-executive{
                    bottom: -13pt;
                    left: calc(50% - 30pt);
                }

                &#btn-data{
                    top: calc(50% - 30pt);
                    left: -13pt;
                    bottom: auto;
                    right: auto;
                }

                &#btn-reporting{
                    top: -13pt;
                    left: calc(50% - 30pt);
                    bottom: auto;
                    right: auto;
                }

                &#btn-benchmarking{
                    top: calc(50% - 30pt);
                    right: -13pt;
                    bottom: auto;
                    left: auto;
                }

                img{
                    height: 24pt;
                    position: relative;
                }

                &::before{
                    height: 50pt;
                    width: 50pt;
                    top: calc(50% - 25pt);
                    left: calc(50% - 25pt);

                }

                &::after{
                    height: 61.5pt;
                    width: 61.5pt;
                    top: calc(50% - 30.75pt);
                    left: calc(50% - 30.75pt);
                }
            }
        }
    }
}
