header{
    background-color: #CFCFCF;
    background-image: url("../img/city-bg.png");
    // background-size: cover;
    background-position: 29% 21%;
    position: relative;
    .navbar{
        padding: 0px;
        .navbar-toggler{
            background-color: $tint-blue;
            padding: 15px 10px;
            border-radius: 0px;
            border: none;
            height: 60px;
            width: 60px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            transition: all ease 0.3s;

            .icon-bar{
                display: block;
                background: $white;
                height: 4px;
                width: 40px;
                transition: all ease 0.3s;

                &.middle{
                    height: 0px;
                    opacity: 0;
                }
                &.top{
                    transform: rotate(225deg);
                    margin-bottom: -2px
                }
                &.bottom{
                    transform: rotate(-225deg);
                    margin-top: -2px;
                }
            }


            &.collapsed{
                justify-content: space-between;

                .icon-bar{
                    transform: rotate(0deg);
                    transform-origin: center;
                    width: 40px;
                    &.top{
                        width: 20px;
                        animation: barTop infinite 5s;
                    }
                    &.middle{
                        width: 30px;
                        height: 4px;
                        opacity: 1;
                        animation: barMiddle infinite 5s;
                    }
                    &.bottom{
                        animation: barBottom infinite 5s;
                    }
                }
            }

            &:focus{
                outline: none;
            }
        }
        .navbar-collapse{
            .navbar-nav{
                padding: 30px 0px 50px 0px;

                li{
                    .nav-link{
                        font-size: 14pt;
                        font-weight: 500;
                        padding-left: 15px;
                        padding-right: 15px;
                        text-transform: capitalize;

                        color: $blue;
                    }

                    &.active{
                        .nav-link{
                            color: $blue;
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }

    .info-toggle{
        background: $tint-blue;
        border: none;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: auto;
        left: auto;
        height: 60px;
        width: 60px;
        justify-content: center;
        align-items: center;

        &:focus{
            outline: none;
        }
        .fas{
            font-size: 30px;
            color: $white;
            line-height: 1;
            transform: rotate(360deg);
            transform-origin: center;
            transition: all ease 0.5s;
        }

        &.collapsed{
            .fas{
                transform: rotate(0deg);
            }
        }
    }

    .text-container{
        padding: 30px 15px 200px 15px;

        .info-title{
            font-size: 24pt;
            font-weight: 300;
            margin-bottom: 20px;
            color: $blue;
        }

        .info-text{
            max-width: 610px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

@media (min-width: 768px) {
    header{
        height: 100vh;
        width: 25vw;
        position: fixed;
        left: 0px;
        right: auto;
        top: 0px;
        bottom: 0px;
        background-size: cover;
        background-position: 5% 100%;
        transition: all ease 0.5s;
        animation: bgMoving infinite 30s;

        .navbar-toggler{
            position: fixed;
            z-index: 10;
            top: 0px;
            bottom: auto;
            left: 0px;
            right: auto;
        }

        .navbar{
            .navbar-collapse{
                position: fixed;
                z-index: 5;
                top: 0px;
                bottom: 0px;
                left: 0px;
                right: 0px;
                background: $tint-blue;
                height: 100% !important;
                transform: scale(0);
                transform-origin: top left;
                transition: all ease 0.5s;

                ul.navbar-nav{
                    opacity: 0;
                    transition: all ease 0.5s 0.5s;
                    height: 100%;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                    transition: all ease 0.5s 0.5s;

                    li{
                        .nav-link{
                            font-size: 30pt;
                            color: $white;
                            letter-spacing: letter-spacing(30pt, 50)
                        }

                        &.active{
                            .nav-link{
                                color: $white;
                            }
                        }
                    }
                }

                &.show{
                    transform: scale(1);

                    ul{
                        opacity: 1;

                    }
                }
            }
        }

    }

    #additionalInfo{
        display: block;
        padding-top: 70px;
        padding-bottom: 0px;
    }
}

@media (min-width: 992px) {
    header{
        width: 217pt;
    }

    #additionalInfo{
        padding: 90pt 25px 0pt 25px;
    }
}
