header{
    .navbar{
        padding: 0px;
        .navbar-toggler{
            background-color: $tint-blue;
            padding: 15px 10px;
            border-radius: 0px;
            border: none;
            height: 60px;
            width: 60px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            transition: all ease 0.3s;

            .icon-bar{
                display: block;
                background: $white;
                height: 4px;
                width: 40px;
                transition: all ease 0.3s;

                &.middle{
                    height: 0px;
                    opacity: 0;
                }
                &.top{
                    transform: rotate(45deg);
                    margin-bottom: -2px
                }
                &.bottom{
                    transform: rotate(-45deg);
                    margin-top: -2px;
                }
            }


            &.collapsed{
                justify-content: space-between;

                .icon-bar{
                    transform: rotate(0deg);
                    transform-origin: center;
                    width: 40px;
                    &.top{
                        width: 20px;
                        animation: barTop infinite 5s;
                    }
                    &.middle{
                        width: 30px;
                        height: 4px;
                        opacity: 1;
                        animation: barMiddle infinite 5s;
                    }
                    &.bottom{
                        animation: barBottom infinite 5s;
                    }
                }
            }

            &:focus{
                outline: none;
            }
        }
    }
}
