// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Fonts
$primary-font: 'TaubSans', times, 'Open Sans', sans-serif;
$secondary-font: 'TaubDisplay', times, sans-serif;

/// Font-size
$body-font-size: 16px;
$buttons-font-size: 18px;

/// Copy text
/// @type Color
$text-color: #222222 !default;

/// Default colors
$white: #fff;
$black: #000;
$grey: #ccc;

$blue: #121C4E;
$tint-blue: #1F347F;
$red: #F2635D;


// Company color pallete
$primary-color: $blue;
$secondary-color: $tint-blue;
$third-color: $red;

// Button and hover color
$btn-color: $third-color;
$hover-color: $third-color;


$body-color: $white;

/// For search box (labels inline with the inputs)
$label-inline: false; /// <- true or false (default false)



$base-url: '/assets/' !default;
